<div id="nav"></div>
<div id="navitems">
  <p><img src="/ic_menu_black_24px.svg"></p>
  <p><a href="/memories"><img src="/ic_home_black_24px.svg"></a></p>
  <p><a href="/memories/create"><img src="/ic_search_black_24px.svg"></a></p>
  <p><a href="/memories/mem_list"><img src="/ic_create_black_24px.svg"></a></p>
  <p><a href="/account_info"><img src="/ic_account_box_black_24px.svg"></a></p>
  <p><a href="/logout"><img src="/ic_open_in_new_black_24px.svg"></a></p>
</div>

<div class="middle-content" style="top: 20%">
  <h5>Account Information</h5>
  <% @user_now.each do |account| %>
      <p>
        <%= account.user_name %>
      </p>
      <p>
        <%= account.email %>
      </p>
  <% end %>
  <p>
    <a href="/update_account">Change your password here.</a>
  </p>
</div>
