<h5>Create Memory</h5>

<form action="/memories/create_memory" method="post" id='memory_creation'>
  <!-- <input type="hidden" name="_method" value="put"> -->

  <input type="text" name="memory[specific_song]" placeholder="Specific song?">
  <br>
  <input type="text" name="memory[year]" placeholder="When?">
  <br>
  <input type="text" name="memory[setting]" placeholder="Where?">
  <br>
  <input type="text" name="memory[notes]" placeholder="Write about your memory here." id='blobbox'>
  <br>
  <input type="submit">
</form>

<p>
  <a href="/memories">Return to Your List</a>
</p>

<p>
  <a href="/logout">Log out.</a>
</p>
