<div id="nav"></div>
<div id="navitems">
  <p><img src="/ic_menu_black_24px.svg"></p>
  <p><a href="/memories"><img src="/ic_home_black_24px.svg"></a></p>
  <p><a href="/memories/create"><img src="/ic_search_black_24px.svg"></a></p>
  <p><a href="/memories/mem_list"><img src="/ic_create_black_24px.svg"></a></p>
  <p><a href="/logout"><img src="/ic_open_in_new_black_24px.svg"></a></p>
</div>

<div class="middle-content" style="top: 20%">
  <h5>Create Memory</h5>

  <form id="search-form">
      <input type="text" id="query" value="" class="form-control" placeholder="Artist"/>
      <input type="submit" id="search" class="btn btn-primary" value="Search" />
  </form>

  <div id='write_mem'></div>

  <div id='results'></div>

</div>
