<h5>Create Memory</h5>

<form action="/memories/create_memory" method="post" id='memory_creation'>
  <input type="text" name="memory[specific_song]" placeholder="Does one of the songs stand out?">
  <br>
  <input type="text" name="memory[year]" placeholder="When did you listen to this?">
  <br>
  <input type="text" name="memory[setting]" placeholder="Where did you listen to it?">
  <br>
  <input type="text" name="memory[who]" placeholder="Who was with you?">
  <br>
  <input type="text" name="memory[notes]" placeholder="Write about your memory here." id='blobbox'>
  <br>
  <input type="submit">
</form>

<p>
  <a href="/memories">Return to Your List</a>
</p>

<p>
  <a href="/logout">Log out.</a>
</p>
