<h5>Create Memory</h5>

<form id="search-form">
    <input type="text" id="query" value="" class="form-control" placeholder="Artist"/>
    <input type="submit" id="search" class="btn btn-primary" value="Search" />
</form>

<h5>Results:</h5>

<form action="/memories/create" method="post" id='results'>

</form>

<p>
  <a href="/memories">Return to Your List</a>
</p>

<p>
  <a href="/logout">Log out.</a>
</p>
