<h5>Create item</h5>

<form action="/items/create" method="post">
  <fieldset>
    <input type="text" name="item[name]" placeholder="Item Name">
    <input type="text" name="item[quantity]" placeholder="Item Quantity">
    <input type="submit"></input>
  </fieldset>
</form>

<p>
  <a href="/items">Return to Your List</a>
</p>

<p>
  <a href="/logout">Log out.</a>
</p>
