<head>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../normalize.css">
  <link rel="stylesheet" href="../skeleton.css">

</head>

<h5>Destroy '<%= @memory.name %>?'</h5>

<form action="/memorys/destroy" method="post">
  <input type="hidden" name="id" value="<%= @memory.id %>">
  <input type="submit" value="Destroy Memory">
</form>

<p>
  <a href="/memorys">Return to Your List</a>
</p>

<p>
  <a href="/logout">Log out.</a>
</p>
