<!-- Login:
User's email
User's password
Submit Box -->

<div class="middle-content" style="top: 20%">
  <h5>
    <% if @message %>
      <strong><%= @message %></strong>
    <% end %>
  </h5>

  <form action="/enter" method="post">

      <input type='text' name='user_name' placeholder="Username" id='user_email'>
      <br>
      <input type='password' name='password' placeholder="Password" id='user_password'>
      <br>
      <input type="submit" value="Submit" id='submit_button'>

  </form>
</div>
