<div class="four offset-by-three columns">
  <h5>
    <% if @message %>
      <strong><%= @message %></strong>
    <% end %>
  </h5>



  <p>
    <a href="/memories">Go/Return to Your List</a>
  </p>

  <p>
    <a href="/logout">Log out.</a>
  </p>
</div>
