<div class="middle-content" style="top: 20%">
  <h5>
    <% if @message %>
      <strong><%= @message %></strong>
    <% end %>
  </h5>

  <p>
    <a href="/memories">Go/Return to Your List</a>
  </p>

  <p>
    <a href="/logout">Log out.</a>
  </p>
</div>
