<script type='text/javascript'>
  // This variable keeps track of which memory you're on. Very important!
  mem_index = 0;

  // Pulls the user's memories from the model in json format.
  var viewModel = <%= @memories.to_json %>;

  // Performs a sort of the memories for display in chronological order. Memories remain in database in the order entered.
  var latest_year = 0;
  var latest_index = 0;
  var new_list = [];

  while (viewModel.length >= 1) {
    for (var i = 0; i < viewModel.length; i++) {
      if (viewModel[i].year > latest_year) {
        latest_year = viewModel[i].year;
        latest_index = i;
      };
    };
    new_list.push(viewModel[latest_index]);
    viewModel.splice(latest_index, 1);
  }
</script>

<!-- Navigation. -->
<div id="nav"></div>
<div id="navitems">
  <p><img src="/ic_menu_black_24px.svg"></p>
  <p><a href="/memories"><img src="/ic_home_black_24px.svg"></a></p>
  <p><a href="/memories/create"><img src="/ic_search_black_24px.svg"></a></p>
  <p><a href="/memories/mem_list"><img src="/ic_create_black_24px.svg"></a></p>
  <p><a href="/logout"><img src="/ic_open_in_new_black_24px.svg"></a></p>
</div>

<div id="left"></div>
<div id="right"></div>

<!-- This is where the memories are displayed! -->
<div class="middle-content" id="album-art"></div>

<script type="text/javascript">

  // ---------------
  // This section loops through the user's musical memories array to generate them on the page. Only one is displayed at a time.
  // ---------------

  for (var i = 0; i < new_list.length; i++) {
    var tempArt = '<div class="albumart" id="art' + i + '"><img src="' + new_list[i].img_url + '" style="max-width: 100%"></div>';

    var tempMem = '<div class="albumcontent" id="album' + i + '"><h5>' + new_list[i].album + '</h5><p>' + new_list[i].artist + '<br>\"' + new_list[i].specific_song + '\"<br>' + new_list[i].setting + ', ' + new_list[i].year + '</p><p>' + new_list[i].notes + ' Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>';

    $('#album-art').append(tempArt);
    $('#album-art').append(tempMem);
  }

  // First memory is displayed. Doesn't matter if no memories exist yet.
  $('#art0').css({'display': 'block'});
  $('#album0').css({'display': 'block'});

  // ---------------
  // This section deals with navigating through the memories. The memories used to slide through as though the user is scrolling, but the animation looks super-janky on iPhone, so all that's left are the opacity manipulations.
  // ---------------

  var click_left = function() {
    if (mem_index - 1 > -1) {
      $('#album-art').velocity({'left': '+=250px'}, 500);
      $('#art' + mem_index).velocity({'opacity': '-=1'}, 500);
      $('#album' + mem_index).velocity({'opacity': '-=1'}, 500);
      var id = setTimeout(function() {
        $('#art' + mem_index).css({'display': 'none'});
        $('#album' + mem_index).css({'display': 'none'});
        $('#album-art').css({'left': '-=500px'});
        mem_index -= 1;
        $('#art' + mem_index).css({'opacity': '0'});
        $('#album' + mem_index).css({'opacity': '0'});
        $('#art' + mem_index).css({'display': 'block'});
        $('#album' + mem_index).css({'display': 'block'});
        $('#album-art').velocity({'left': '+=250px'}, 500);
        $('#art' + mem_index).velocity({'opacity': '+=1'}, 500);
        $('#album' + mem_index).velocity({'opacity': '+=1'}, 500);
      }, 600);
    };
  };

  $('#left').on("click", click_left);

  var click_right = function() {
    if (mem_index + 1 < new_list.length) {
      $('#album-art').velocity({'left': '-=250px'}, 500);
      $('#art' + mem_index).velocity({'opacity': '-=1'}, 500);
      $('#album' + mem_index).velocity({'opacity': '-=1'}, 500);
      var id = setTimeout(function() {
        $('#art' + mem_index).css({'display': 'none'});
        $('#album' + mem_index).css({'display': 'none'});
        $('#album-art').css({'left': '+=500px'});
        mem_index += 1;
        $('#art' + mem_index).css({'opacity': '0'});
        $('#album' + mem_index).css({'opacity': '0'});
        $('#art' + mem_index).css({'display': 'block'});
        $('#album' + mem_index).css({'display': 'block'});
        $('#album-art').velocity({'left': '-=250px'}, 500);
        $('#art' + mem_index).velocity({'opacity': '+=1'}, 500);
        $('#album' + mem_index).velocity({'opacity': '+=1'}, 500);
      }, 600);
    };
  };

  $('#right').on("click", click_right);

</script>
