<script type='text/javascript'>
  mem_index = 0;

  var viewModel = <%= @memories.to_json %>;
  var latest_year = 0;
  var latest_index = 0;
  var new_list = [];

  while (viewModel.length >= 1) {
    for (var i = 0; i < viewModel.length; i++) {
      if (viewModel[i].year > latest_year) {
        latest_year = viewModel[i].year;
        latest_index = i;
      };
    };
    new_list.push(viewModel[latest_index]);
    viewModel.splice(latest_index, 1);
  }

</script>

<div id="nav"></div>
<div id="navitems">
  <p><img src="/ic_menu_black_24px.svg"></p>
  <p><a href="/memories"><img src="/ic_home_black_24px.svg"></a></p>
  <p><a href="/memories/create"><img src="/ic_search_black_24px.svg"></a></p>
  <p><a href="/memories/mem_list"><img src="/ic_create_black_24px.svg"></a></p>
  <p><a href="/logout"><img src="/ic_open_in_new_black_24px.svg"></a></p>
</div>

<div id="left"></div>
<div id="right"></div>

<div class="middle-content" id="album-art"></div>

<script type="text/javascript">
  for (var i = 0; i < new_list.length; i++) {
    var tempArt = '<div class="albumart" id="art' + i + '"><img src="' + new_list[i].img_url + '" style="max-width: 80%"></div>';

    var tempMem = '<div class="albumcontent" id="album' + i + '"><h5>' + new_list[i].album + '</h5><p>' + new_list[i].artist + '<br>\"' + new_list[i].specific_song + '\"<br>' + new_list[i].setting + ', ' + new_list[i].year + '</p><p>' + new_list[i].notes + ' Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>';

    $('#album-art').append(tempArt);
    $('#album-art').append(tempMem);
  }

  $('#art0').css({'display': 'block'});
  $('#album0').css({'display': 'block'});

  var click_left = function() {
    if (mem_index - 1 > -1) {
      $('#album-art').velocity({'left': '+=500px'}, 1000);
      $('#art' + mem_index).velocity({'opacity': '-=1'}, 1000);
      $('#album' + mem_index).velocity({'opacity': '-=1'}, 1000);
      var id = setTimeout(function() {
        $('#art' + mem_index).css({'display': 'none'});
        $('#album' + mem_index).css({'display': 'none'});
        $('#album-art').css({'left': '-=1000px'});
        mem_index -= 1;
        $('#art' + mem_index).css({'opacity': '0'});
        $('#album' + mem_index).css({'opacity': '0'});
        $('#art' + mem_index).css({'display': 'block'});
        $('#album' + mem_index).css({'display': 'block'});
        $('#album-art').velocity({'left': '+=500px'}, 1000);
        $('#art' + mem_index).velocity({'opacity': '+=1'}, 1000);
        $('#album' + mem_index).velocity({'opacity': '+=1'}, 1000);
      }, 1100);
    };
  };

  $('#left').on("click", click_left);
  // jQuery( window ).on( "swiperight", click_left);

  $('#album-art').swipe( {
    //Generic swipe handler for all directions
    swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
      console.log("You swiped " + direction );
      if (direction == 'left') {
        click_right;
      }
      else if (direction == 'right') {
        click_left;
      }
      else {

      };
    },
    //Default is 75px, set to 0 for demo so any distance triggers swipe
     threshold:30
  });

  var click_right = function() {
    if (mem_index + 1 < new_list.length) {
      $('#album-art').velocity({'left': '-=500px'}, 1000);
      $('#art' + mem_index).velocity({'opacity': '-=1'}, 1000);
      $('#album' + mem_index).velocity({'opacity': '-=1'}, 1000);
      var id = setTimeout(function() {
        $('#art' + mem_index).css({'display': 'none'});
        $('#album' + mem_index).css({'display': 'none'});
        $('#album-art').css({'left': '+=1000px'});
        mem_index += 1;
        $('#art' + mem_index).css({'opacity': '0'});
        $('#album' + mem_index).css({'opacity': '0'});
        $('#art' + mem_index).css({'display': 'block'});
        $('#album' + mem_index).css({'display': 'block'});
        $('#album-art').velocity({'left': '-=500px'}, 1000);
        $('#art' + mem_index).velocity({'opacity': '+=1'}, 1000);
        $('#album' + mem_index).velocity({'opacity': '+=1'}, 1000);
      }, 1100);
    };
  };

  $('#right').on("click", click_right);
  // jQuery( window ).on( "swipeleft", click_right);

</script>
