<!-- Registration:
User's email
User's password
User's password (confirmation)
Submit Box -->
<h5>Register</h5>
  <form action="/register" method="post">
        <input type='text' name='user_name' placeholder="Username" id='user_name'>
        <br>
        <input type='email' name='email' placeholder="E-Mail" id='user_email'>
        <br>
        <input type='password' name='password' placeholder="Password" id='user_password'>
        <br>
        <input type="submit" value="Submit" id='submit_button'>
  </form>
