<head>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../normalize.css">
  <link rel="stylesheet" href="../skeleton.css">

</head>

<h5>Update Memory '<%= @memory.name %>':</h5>

<form action="/memorys/update" method="post">
    <input type="hidden" name="id" value="<%= @memory.id %>">
    <input type="text" name="memory[name]" value="<%= @memory.name %>">
    <input type="text" name="memory[quantity]" value="<%= @memory.quantity %>">
    <input type="submit">
</form>

<p>
  <a href="/memorys">Return to Your List</a>
</p>

<p>
  <a href="/logout">Log out.</a>
</p>
