html {
  overflow: scroll;
}

#left {
  position: absolute;
  top: 50%;
  left: 5%;
  height: 24px;
  width: 24px;
  background: url("/ic_arrow_back_black_24px.svg");
  background-repeat: no-repeat;
}
#right {
  position: absolute;
  top: 50%;
  right: 5%;
  height: 24px;
  width: 24px;
  background: url("/ic_arrow_forward_black_24px.svg");
  background-repeat: no-repeat;
}

#nav {
  position: absolute;
  left: 5%;
  top: 10%;
  height: 24px;
  width: 24px;
  background: url("/ic_menu_black_24px.svg");
  background-repeat: no-repeat;
}
#navitems {
  position: absolute;
  left: 5%;
  top: 10%;
  width: 24px;
  display: none;
}

#album-art {
  position: absolute;
  top: 20%;
  width: 60%;
}

.albumart {
  display: none;
}

.albumcontent {
  display: none;
}

.middle-content {
  position: absolute;
  left: 20%;
  width: 60%;
}
